
body {
    font-family: "Roboto", sans-serif;
    color: #212121;
    
}


.web {
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: #2196F3;

}
 /* Лого в футере */

.studio {
    font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 1.38;
letter-spacing: 0.03em;
color: #000;

}

.studio-white {
    font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 1.38;
letter-spacing: 0.03em;
color: #FFFFFF;


}

.header-list {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #212121;

}

.hero-title {
    font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
color: #FFFFFF;

}

.header-btn {
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 1.87;
color: #FFFFFF;
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
  }


.hero-values-title {
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #212121;
}

.hero-values-text {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #757575;
}
 
.work-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    
}

/* наша команда */

.team {
    font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.16;
letter-spacing: 0.03em;
}


.team-name {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
}


.team-job-title {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}


.address-map {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #FFFFFF;
}


.address-data{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    
}